*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.main-container__1{
	width: 100%;
	height: 300px;
	background: url('bg.jpg') bottom;
	background-size: 100% 100%;
}


.main-container__1--center{
	text-align: center;
	padding: 50px;
	color: white;
	font-weight: lighter;
	font-family: 'helvetica', sans-serif;
}

.main-container__1--center div{
	padding: 10px;
}

.main-container__1--date{
	font-size: 1rem;
	font-weight: lighter;
}


.main-container__1--budget p{
	display: inline-block;
	font-size: 3rem;
}


.main-container__1--button-income{
	background: green;
}

.main-container__1--button-expense{
	background: red;
}

.main-container__1--button button{
	
	position: relative;
	width: 300px;
	height: 40px;
	font-size: 0.8rem;
	font-weight: bold;
	display: block;
	margin: 5px auto;
	text-align: left;
	padding: 0 0 0 15px;
	border: none;
	border-radius: 3px;
}


.main-container__1--button button label{
	position: absolute;
	color: white;
	top: 50%;
	transform: translate(0%,-50%);

	
}

.label1{
	right: 20%;
	font-size: 1.3rem;
	font-weight: lighter;
}

.label2{
	right: 5%;
	padding: 5px;
	border-radius: 5px;
}

.main-container__1--button-expense .label2{
	background: #FD6861;
}