*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'helvetica', sans-serif;
	font-weight: lighter;
}


/*First Container*/


.main-container__1{
	width: 100%;
	height: 300px;
	background: url('bg.jpg') bottom;
	background-size: 100% 100%;
}


.main-container__1--center{
	text-align: center;
	padding: 50px;
	color: white;
	font-weight: lighter;
	
}

.main-container__1--center div{
	padding: 10px;
}

.main-container__1--date{
	font-size: 1rem;
	font-weight: lighter;
}


.main-container__1--budget p{
	display: inline-block;
	font-size: 3rem;
}


.main-container__1--button-income{
	background: #25B1AC;
}

.main-container__1--button-expense{
	background: #FF4741;
}

.main-container__1--button button{
	pointer-events: none;
	position: relative;
	width: 300px;
	height: 40px;
	font-size: 0.8rem;
	font-weight: bold;
	display: block;
	margin: 5px auto;
	text-align: left;
	padding: 0 0 0 15px;
	border: none;
	border-radius: 3px;
}


.main-container__1--button button label{
	position: absolute;
	color: white;
	top: 50%;
	transform: translate(0%,-50%);

	
}

.expense-label1,.income-label1{
	right: 20%;
	font-size: 1.3rem;
	font-weight: lighter;
}

.label2{
	right: 5%;
	padding: 5px;
	border-radius: 5px;
}

.main-container__1--button-expense .label2{
	background: #FD6861;
}















/*Second Container*/

.main-container__2{
	width: 100%;
	height: 65px;
	border: 1px solid gray;
	background: #F6F6F6;
	position: relative;
}

.main-container__2--center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	text-align: center;
}

.main-container__2 div{
	display: inline-block;
	padding: 8px;

}

.main-container__2 input{
	text-indent: 5px;
	width: 100%;
}

.main-container__2 input, .main-container__2--operator select{
	height: 28px;
}

.main-container__2--operator select{
	width: 40px;
}


.main-container__2--enter button{
	vertical-align: middle;
	height: 20px;
	width: 20px;
	background: transparent;
	border:2px solid black;
	border-radius: 50%;
	color: black;
	font-weight: bold;
	cursor: pointer;
}


/*Third Container*/


.main-container__3--stat{
	text-align: center;
}


.main-container__3--stat div{
	text-align: left;
	display: inline-block;
	padding: 30px;
	width: 40%;
	vertical-align: top;
}


#main-container__3--stat-income h3{
	color: #25B1AC;
}


#main-container__3--stat-expense h3{
	color: #FF4741;
}


.main-container__3--stat div *{
	padding: 10px 0;
	border-bottom: 1px solid lightgray;
	vertical-align: middle;
}

.main-container__3--stat div p{
	
	position: relative;
	text-indent: 10px;
	
}

#main-container__3--stat-expense p{
	vertical-align: middle;
}


.main-container__3--stat div p label{
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translate(0,-50%);
	font-weight: bold;
}

#main-container__3--stat-income p label{
	border: none;
	color: #25B1AC;
}



#main-container__3--stat-expense p .stat-label1{
	position: absolute;
	color: #FF4741;
	right: 18%;
	border: none;
}

#main-container__3--stat-expense p .stat-label2{
	position: absolute;
	right: 5%;
	border: none;
	font-size: 0.8rem;
	background: #FBD6D4;
	border-radius: 3px;
	padding: 0;

	text-indent: 0;
	text-align: center;
	padding: 5px;
	color: #FF4741;
}



















/*For js*/

.last-value{
	background-color: #F6F6F6;
}

.remove{
	background-color: rgb(247, 204, 196);
}

.deletestatbtn{
	cursor: pointer;
	margin:0px 10px 0 0;
	height: 0px;
	width: 20px;
	border: none;
	vertical-align: middle;
	background-color:rgb(199, 53, 53);
	color: white;
	font-weight: bold;
	border-radius: 3px;
}

.main-container__3--stat div p button{
	display: none;
}



















@media only screen and (max-width: 1024px){

	.main-container__1--center{
		padding: 50px 20px;
	}

	.main-container__1--button button{
		width: 60%;

	}














	.main-container__3--stat div{
		display: block;
		margin: auto;
		width: 70%;
	}


}



@media only screen and (max-width: 600px){
	.main-container__1--button button{
		width: 80%;

	}


	.main-container__1--button button{
		width: 95%;

	}

	.label2 {
    right: 2%;
	}

	.main-container__3--stat div{
		width: 95%;
	}

	#main-container__3--stat-expense p .stat-label2{
		right: 1%;
	}

	.main-container__2--input{
		width: 30%;
	}
	.main-container__2--value{
		width: 30%;
	}
}










@keyframes yourAnimation{
    0%{
        transform: rotate(0) translateY(-5%);
        opacity: 0.2;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}

.main-container{
    animation: yourAnimation .3s 1 .1s ease-in;
}